rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public read access to team members and site content
    match /teamMembers/{memberId} {
      allow get: if true;
      allow write: if false;
    }
     match /teamMembers {
      allow list: if true;
    }

    match /siteContent/{contentId} {
      allow read: if true;
      allow write: if false; // Protect against public writes
    }
  }
}
